{# src/Bajor/WebServiceBundle/Resources/views/Default/resolved.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Rozwiązanie - Równanie kwadratowe{% endblock %}

{% block body %}
    <br />
    <h1>Rozwiązanie równania kwadratowego:</h1>
    <h3>y = {{ factor_a }}x<sup>2</sup> + {{ factor_b }}x + {{ factor_c }}</h3>
    
    <div>Delta: {{ solution.delta }}</div>
    <div>{{ solution.deltaInfo }}</div>
    
    <div>
    {% if solution.delta > 0 %}
        
        Pierwiastki: <br />
        x1: {{ solution.x_1 }}<br />  
        x2: {{ solution.x_2 }} 
        
    {% elseif solution.delta < 0 %}
        
        Pierwiastki: <br />
        {{ solution.re_1 }} j{{ solution.im_1 }}<br />  
        {{ solution.re_2 }} j{{ solution.im_2 }}
        
    {% elseif solution.delta == 0 %}
    
        Pierwiastek: <br />
        x0: {{ solution.x_0 }}
    
    {% endif %}
    </div>
    
    <h3>Rozwiązania:</h3>
    <ul>
        {% for x, y in solution.solutions %}
            <li>dla x = {{ x }}, y = {{ y }}</li>
        {% endfor %}
    </ul>
    
    <br />
    <br />
{% endblock %}
